<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Учет складских товаров</title>
</head>

<head th:insert="blocks\head :: head"></head>

<body>

<nav th:insert="blocks/nav :: nav"></nav>

<section class="py-5">
    <div class="container py-5">
        <div class="row mb-4 mb-lg-5">
            <div class="col-md-8 col-xl-6 text-center mx-auto">
                <h2 class="fw-bold">Учет складских товаров</h2>
            </div>
        </div>
        <hr>
        <form class="text-center" action="/product/search" method="post">
            <div class="row">
                <div class="col-auto">
                    <a class="btn btn-info" role="button" href="/product/all">Все товары</a>
                </div>
                <div class="col">
                    <input th:value="${input}" class="form-control" type="text" name="search" placeholder="Поиск">
                </div>
                <div class="col">
                    <select class="form-select" name="warehouseId" required>
                        <option th:each="w :  ${warehouses}" th:value="${w.id}"
                                th:label="${w.name}" th:selected="${w.id == selectedW}"></option>
                    </select>
                </div>
                <div class="col">
                    <select class="form-select" name="category" required>
                        <option th:each="category :  ${categories}" th:value="${category}"
                                th:label="${category.getName()}" th:selected="${category == selectedCategory}"></option>
                    </select>
                </div>
                <div class="col">
                    <select class="form-select" name="desk" required>
                        <option value="cheap">Сначала дешевые</option>
                        <option value="expensive">Сначала дорогие</option>
                    </select>
                </div>
                <div class="col-auto">
                    <button class="btn btn-primary" type="submit">Найти</button>
                </div>
            </div>
        </form>
        <hr>
        <form th:each="product : ${products}" th:action="'/cart/add/' + ${product.id}" method="post"
              style="margin-bottom: 10px;">
            <div class="row">
                <div class="col">
                    <div class="row">
                        <div class="col-auto text-center">
                            <img th:src="'/img/' + ${product.img}" style="width: 200px;border-radius: 25px;"></div>
                        <div class="col">
                            <div><span>Название:&nbsp;</span><span th:text="${product.name}"></span></div>
                            <div><span>Категория:&nbsp;</span><a th:text="${product.category.getName()}"
                                                                 th:href="'/product/category/' + ${product.category.name()}"></a>
                            </div>
                            <div><span>Стоимость:&nbsp;</span><span th:text="${product.price}"></span></div>
                            <div><span>Количество:&nbsp;</span><span th:text="${product.quantity}"></span></div>
                            <div><span>Поставщик:&nbsp;</span><span th:text="${product.provider}"></span></div>
                            <div><span>Склад:&nbsp;</span> <a th:href="${'/product/warehouse/' + product.warehouse.id}"
                                                              th:text="${product.warehouse.name}"></a></div>
                            <div><span>Ячейка(и):&nbsp;</span><span th:text="${product.cell}"></span></div>
                            <div><span>Вес:&nbsp;</span><span th:text="${product.weight}"></span></div>
                            <div><span>Срок годности:&nbsp;</span><span th:text="${product.keep}"></span></div>
                            <div th:if="${product.description != ''}"><span>Описание:&nbsp;</span><span
                                    th:text="${product.description}"></span></div>
                        </div>
                    </div>
                </div>
                <div th:if="${user.role.name() != 'ADMIN'}"
                     class="col-4 text-center">
                    <div th:if="${user.role.name() == 'EMPLOYEE'}" class="row mb-2">
                        <div class="col">
                            <input class="form-control" type="number" name="quantity" min="1"
                                   th:max="${product.quantity}" placeholder="Количество" required>
                        </div>
                    </div>
                    <div th:if="${user.role.name() == 'EMPLOYEE'}" class="row">
                        <div class="col">
                            <button class="btn btn-primary" type="submit" style="width: 100%">Оформить</button>
                        </div>
                    </div>
                    <div th:if="${user.role.name() == 'MANAGER'}" class="row">
                        <div class="col-12 text-center">
                            <a class="btn btn-success w-100 mb-2" role="button" style="width: 100%;"
                               th:href="'/product/edit/' + ${product.id}">Редактировать</a>
                        </div>
                        <div class="col-12 text-center">
                            <a class="btn btn-success w-100 mb-2" role="button" style="width: 100%;"
                               th:href="'/product/move/' + ${product.id}">Переместить товар</a>
                        </div>
                        <div class="col text-center">
                            <a class="btn btn-danger w-100 mb-2" role="button" style="width: 100%"
                               th:href="'/product/delete/' + ${product.id}">Удалить</a>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
        </form>
    </div>
</section>


<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/bold-and-bright.js"></script>
</body>

</html>