<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Внести информацию о складе</title>
</head>

<head th:insert="blocks\head :: head"></head>

<body>

<div th:insert="blocks/nav :: nav"></div>

<section class="py-5">
    <div class="container py-5">
        <div class="row mb-4 mb-lg-5">
            <div class="col-md-8 col-xl-6 text-center mx-auto">
                <h2 class="fw-bold">Внести информацию о складе</h2>
            </div>
        </div>
        <form action="/warehouse/add" method="post" style="margin-bottom: 10px;">
            <div class="row">
                <div class="col">
                    <div class="row">
                        <div class="col d-md-flex justify-content-md-center align-items-md-center"><input
                                class="form-control" type="text" name="name" placeholder="Название" required
                                style="margin: 5px;"></div>
                    </div>
                </div>
                <div class="col">
                    <div class="row">
                        <div class="col d-md-flex justify-content-md-center align-items-md-center"><input
                                class="form-control" type="text" name="address" placeholder="Адрес"
                                style="margin: 5px;" required></div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col">
                    <div class="row">
                        <div class="col d-md-flex justify-content-md-center align-items-md-center"><input
                                class="form-control" type="number" name="max" placeholder="Максимальное количество мест"
                                style="margin: 5px;" required></div>
                    </div>
                </div>
                <div class="col">
                    <div class="row">
                        <div class="col d-md-flex justify-content-md-center align-items-md-center"><input
                                class="form-control" type="text" name="description" placeholder="Описание (опционально)"
                                style="margin: 5px;"></div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col">
                    <button class="btn btn-primary" type="submit" style="margin: 5px;">Добавить</button>
                    <button class="btn btn-dark" type="reset" style="margin: 5px;">Очистить</button>
                </div>
            </div>
        </form>
    </div>
</section>



<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/bold-and-bright.js"></script>

</body>

</html>